* {
  box-sizing: border-box;
}

.first-page-top {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.high-score-link {
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 15px 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-content: baseline;
}

.high-score-link:hover {
  color: yellow;
}

.high-score-link:active {
  box-shadow: 10px 10px 5px teal;
  border-radius: 40px;
}

.timer {
  padding: 20px;
  color: white;
  font-size: 30px;
  margin: 10px 40px;
}

.button-start {
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  position: absolute;
  left: 40%;
}

.button-start:hover {
  background-color: black;
}

.game-instructions {
  width: 50%;
  margin: auto;
}

.game-start {
  position: relative;
}

.quiz-title {
  font-size: 20px;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

.question {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.choices {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 10px;
  width: 40%;
  margin: auto;
}

.choices button {
  margin: 10px 10px;
  color: purple;
  padding: 10px 40px;
  border-radius: 25px;
  background-color: lightpink;
}

.choices button:hover {
  background-color: green;
}

.choices button:active {
  background-color: gray;
  color: white;
}
