* {
  box-sizing: border-box;
}

.first-page-top {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.high-score-link {
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 15px 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-content: baseline;
}

.high-score-link:hover {
  color: yellow;
}

.high-score-link:active {
  box-shadow: 10px 10px 5px teal;
  border-radius: 40px;
}

.timer {
  padding: 20px;
  color: white;
  font-size: 30px;
  margin: 10px 40px;
}

.button-start {
  background-color: purple;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
  position: absolute;
  left: 42%;
  font-size: 20px;
}

.button-start:hover {
  background-color: black;
}

.game-instructions {
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 20px;
  border: 2px solid red;
  padding: 30px;
}

.game-start {
  position: relative;
  margin: auto;
}

.quiz-title {
  font-size: 30px;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(56, 5, 56);
}

.question {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.quizContainer {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 10px;
  width: 70%;
  margin: auto;
}

.quizContainer button {
  margin: 15px auto;
  color: purple;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: lightpink;
  width: 30%;
  font-size: 20px;
}

.quizContainer button:hover {
  background-color: green;
}

.quizContainer button:active {
  background-color: gray;
  color: white;
}

.score {
  color: black;
  text-align: left;
  padding: 50px;
  font-size: 23px;
  margin: 10px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.displayOutcome {
  color: black;
  font-size: 30px;
  margin: auto;
  text-align: left;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highScoreBody {
  background-color: rgb(76, 95, 95);
  color: white;
}

.enterIntials {
  display: flex;
  margin: auto;
  border-bottom: 1px solid gray;
  width: 50%;
  justify-content: center;
}

.enterIntials label {
  margin: 15px;
}
.enterIntials input {
  margin: 15px;
}

.scoreContainer {
  margin: 50px auto;
  text-align: center;
  font-size: 50px;
  border: 1px solid white;
  width: 60%;
  padding: 25px;
}

.localeStorage {
  padding: 50px;
}

.scoreContainer button {
  padding: 15px;
  font-size: 20px;
  border-radius: 20%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.scoreContainer button:hover {
  font-style: italic;
  background-color: rgb(192, 167, 186);
}

.scoreContainer button:active {
  color: white;
}

.last-page {
  display: none;
}

.allDone {
  text-align: center;
  margin: 20px;
  padding: 16px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#submitForm {
text-align: center;
margin: 5px;
padding: 5px;
}

#submitForm input {
  margin: 5px; 
}